.main-head {
  background: url(../img/nav-background-2.png);
  background-size: cover;
  background-position: bottom;
}
nav {
  @include flex(space-between, center, row);
  position: top;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  .logo {
    flex: 1 1 10rem;
  }
  ul {
    position: relative;
    @include flex(space-around, center, row);
    flex: 1 1 30rem;
  }
  .page {
    position: absolute;
  }
  .page::before {
    content: url(../icons/cloud-ul-bg.svg);
    position: absolute;
    bottom: -2rem;
    left: -5rem;
  }

  .active {
    text-decoration: underline;
    text-shadow: 2px 2px 2px #aee3fb;
  }
}

.intro {
  position: relative;
  background-image: url(../img/main-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(center, center, row);
  overflow: hidden;
}

.intro-left {
  flex: 1 1 40rem;

  img {
    position: absolute;
    bottom: 0;
    height: 90vh;
    transform: translateY(-bottom);
  }
}

.intro-right {
  flex: 2 1 40rem;
  @include flex(center, left, column);

  h1 {
    flex: 1 1 10rem;
    font-size: 5rem;
    padding-top: 2rem;
  }

  .typing {
    position: relative;
    font-size: 5rem;
    padding: 2rem 1rem;
  }

  .typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  padding-top: 2rem;
  color: $gray-text;
}
