/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Script";
  src: url("../fonts/ac-condensedscript_unicode-webfont.woff2") format("woff2"), url("../fonts/ac-condensedscript_unicode-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/ac-totallyplain-webfont.woff2") format("woff2"), url("../fonts/ac-totallyplain-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Plain", sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  font-size: var(--text);
  text-decoration: none;
  font-family: "Script", sans-serif;
  color: #2c2c2c;
}

.main-head {
  width: 90%;
  margin: auto;
}

.nav-container {
  height: 16vh;
  background: url(../img/nav-background.png);
  background-position: bottom;
  z-index: -1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  position: top;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

nav .page {
  position: relative;
}

nav .page::before {
  content: url(../icons/cloud-ul-bg.svg);
  position: absolute;
  bottom: -25px;
  left: -50px;
}

.intro {
  background-image: url(../img/main-bg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 86vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro-left img {
  height: 86vh;
}

.intro-right {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-right h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  font-size: 5rem;
  padding-top: 2rem;
}

.intro-right .typing {
  position: relative;
  font-size: 5rem;
  padding: 2rem 1rem;
}

.intro-right .typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  border-right: 2px solid black;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.values {
  min-height: 100vh;
  background: url(../img/values-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.values h2 {
  padding-top: 10vh;
}

.values-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
  padding-bottom: 40vh;
}

.values-container ul li {
  text-align: center;
}

.values-container ul li img {
  max-height: 20vh;
  max-width: auto;
  padding-bottom: 2rem;
}

.values-container ul li h3 {
  padding-bottom: 1rem;
}

/* VALUES ANIMATION */
#small_carrot {
  -webkit-animation: 2s rotate_small_carrot ease-in-out infinite;
          animation: 2s rotate_small_carrot ease-in-out infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#leafs {
  -webkit-animation: 1.5s leafs ease-in-out infinite;
          animation: 1.5s leafs ease-in-out infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#cylinders {
  -webkit-animation: cylinders 2s ease alternate infinite;
          animation: cylinders 2s ease alternate infinite;
}

#cylinders path:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#cylinders path:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#cylinders path:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#cylinders path:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#cylinders path:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#head {
  -webkit-animation: head_y 4s ease-in-out infinite;
          animation: head_y 4s ease-in-out infinite;
}

@-webkit-keyframes rotate_small_carrot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate_small_carrot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes leafs {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes leafs {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes cylinders {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes cylinders {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes head_y {
  25% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes head_y {
  25% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
  }
  main-head {
    width: 100%;
  }
  nav .logo {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  nav .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  nav .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .intro-social a {
    margin: 2rem;
  }
  form {
    padding: 0rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */