/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Script";
  src: url("../fonts/ac-condensedscript_unicode-webfont.woff2") format("woff2"), url("../fonts/ac-condensedscript_unicode-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/ac-totallyplain-webfont.woff2") format("woff2"), url("../fonts/ac-totallyplain-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Plain", sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  font-size: var(--text);
  text-decoration: none;
  font-family: "Script", sans-serif;
  color: #2c2c2c;
}

.main-head {
  background: url(../img/nav-background-2.png);
  background-size: cover;
  background-position: bottom;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: top;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

nav .page {
  position: absolute;
}

nav .page::before {
  content: url(../icons/cloud-ul-bg.svg);
  position: absolute;
  bottom: -2rem;
  left: -5rem;
}

nav .active {
  text-decoration: underline;
  text-shadow: 2px 2px 2px #aee3fb;
}

.intro {
  position: relative;
  background-image: url(../img/main-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.intro-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro-left img {
  position: absolute;
  bottom: 0;
  height: 90vh;
  -webkit-transform: translateY(-bottom);
          transform: translateY(-bottom);
}

.intro-right {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-right h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  font-size: 5rem;
  padding-top: 2rem;
}

.intro-right .typing {
  position: relative;
  font-size: 5rem;
  padding: 2rem 1rem;
}

.intro-right .typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  border-right: 2px solid black;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.values {
  min-height: 100vh;
  background: url(../img/values-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.values h2 {
  padding-top: 5vh;
}

.values-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
  padding-bottom: 40vh;
}

.values-container ul li {
  text-align: center;
}

.values-container ul li img {
  max-height: 20vh;
  max-width: auto;
  padding-bottom: 2rem;
}

.values-container ul li h3 {
  padding-bottom: 1rem;
}

/* VALUES ANIMATION */
#small_carrot {
  -webkit-animation: 2s rotate_small_carrot ease-in-out infinite;
          animation: 2s rotate_small_carrot ease-in-out infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#leafs {
  -webkit-animation: 1.5s leafs ease-in-out infinite;
          animation: 1.5s leafs ease-in-out infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#cylinders {
  -webkit-animation: cylinders 2s ease alternate infinite;
          animation: cylinders 2s ease alternate infinite;
}

#cylinders path:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#cylinders path:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#cylinders path:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#cylinders path:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#cylinders path:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#head {
  -webkit-animation: head_y 4s ease-in-out infinite;
          animation: head_y 4s ease-in-out infinite;
}

@-webkit-keyframes rotate_small_carrot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate_small_carrot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes leafs {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes leafs {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes cylinders {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes cylinders {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes head_y {
  25% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes head_y {
  25% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.location {
  background: url(../img/location-bg.png);
  background-size: cover;
  background-position: bottom;
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.location div li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location div li h3 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 10rem;
          flex: 2 1 10rem;
}

.location div li img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  height: 10rem;
}

.location .building {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  min-height: 37rem;
}

.main-footer {
  min-height: 13vh;
  z-index: -1;
  background: url(../img/footer-background.png);
  background-position: top;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-footer h5,
.main-footer a {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1380px) {
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
    padding-right: 6rem;
  }
  .page::before {
    display: none;
  }
  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 1148px) {
  html {
    font-size: 45%;
  }
  main-head {
    width: 100%;
  }
  .intro img {
    height: 80vh;
    margin-left: -5rem;
  }
  form {
    padding: 0rem;
    width: 100%;
  }
}

@media screen and (max-width: 888px) {
  html {
    font-size: 45%;
  }
  .intro-right h1 {
    font-size: 3rem;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .intro .intro-right {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem;
    padding: 2rem 4rem;
    margin-bottom: 50rem;
    z-index: 1;
  }
  .intro .intro-left {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 20rem;
            flex: 3 1 20rem;
  }
  .values ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .values ul svg {
    width: 10%;
  }
  .location {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .location .info-container {
    margin-top: 8rem;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #f2d2f4;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(800px at 90% 10%);
    -webkit-clip-path: circle(800px at 90% 10%);
    pointer-events: all;
    z-index: 2;
  }
}
/*# sourceMappingURL=style.css.map */